<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/result.css">
    <title>Review Data</title>
</head>

<body onload="autoClick()">
    <h1>Review Data</h1>

    <div id="htmlContent">
        <div class="row first-row">
            <div class="first-left">
                <div class="reviewer">
                    <img src="/assets/reviewerPic.jpg" alt="reviewerPic" id="reviewerPic">
                    <p class="reviewerName">
                        <%= locals.data.reviewerName %>
                    </p>
                </div>
                <div class="movie">
                    <div>
                        <span class="movieName">
                            <%= locals.data.movieName %>
                        </span>
                        <span class="movieYear">
                            <%= locals.data.movieYear %>
                        </span>
                    </div>

                    <div class="movieDetails">
                        <span class="rating">
                            <%= locals.data.rating %>
                        </span>
                        <span>
                            <%= locals.data.watchedDate %>
                        </span>
                    </div>
                </div>
            </div>

            <img src="/assets/poster.jpg" alt="poster" id="moviePoster">
        </div>
        <div class="row sec-row">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat corrupti reprehenderit fugit culpa, odit
            labore eveniet possimus repudiandae non sapiente.
        </div>
        <div></div>
    </div>
    <a id="download">Download</a>
    <pre><%= JSON.stringify(data, null, 2) %></pre>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.js">
    </script>
    <script src="result.js"></script>
</body>

</html>