<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- font awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
        integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Review Data</title>
    <style>
        #htmlContent-wrapper {
            background-color: #181B20;
            /* background-color: green; */
            padding: 50px;
        }

        #htmlContent {
            background-color: #181B20;
            /* background-color: #202930; */
            color: white;
            font-family: 'Graphik';
            padding: 1.75rem;
            width: 40rem;
        }

        .first-row {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }

        .first-left {
            display: flex;
            flex-direction: column;
            padding-right: 1.2rem;
        }

        .reviewer {
            display: flex;
            flex-direction: row;
            align-items: center;
        }

        #reviewerPic {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            object-fit: contain;
            border: 3px solid grey;
            margin-right: 0.5rem;
        }

        .reviewerName {
            font-family: 'Graphik';
            font-weight: 500;
            letter-spacing: 0.5px;
            opacity: 0.5;
            font-size: larger;
        }

        .movie {
            flex: 1;
            margin-top: 1rem;
        }

        .movieName {
            font-size: 2.05rem;
            font-weight: bolder;
            /* word-spacing: 0.25rem; */
            letter-spacing: 0.75px;
            line-height: 1.25;
        }

        .movieYear {
            /* margin-left: 0.5rem; */
            font-weight: 300;
            letter-spacing: 2px;
            font-size: 1.6rem;
            opacity: 0.65;
        }

        .movieDetails {
            display: flex;
            flex-direction: column;
        }

        .rating {
            color: #00E156;
            font-size: 2rem;
            margin-bottom: 0.5rem;
        }

        .watchedDate {
            font-size: 1.5rem;
            opacity: .45;
            font-weight: 300;
            letter-spacing: 1.2px;
        }

        .hasSpoiler {
            font-size: 1.5rem;
            opacity: 0.65;
            font-style: italic;
            margin-top: 1.25rem;
            font-weight: 300;
        }

        #moviePoster {
            width: 150px;
            height: 225px;
            border-radius: 10px;
            object-fit: contain;
            border: 3px solid grey;
        }

        .sec-row,
        .third-row {
            margin-top: 2rem;
            font-size: 1.5rem;
            line-height: 2rem;
            opacity: 0.8;
            font-weight: 300;
            letter-spacing: 1.2px;
        }

        .sec-row {
            opacity: 1;
        }

        .like {
            letter-spacing: 3px;
        }

        .likes-count {
            margin-left: 1.2rem;
            opacity: 0.65;
        }
    </style>
</head>

<body>
    <div id="htmlContent-wrapper">
        <div id="htmlContent">
            <div class="row first-row">
                <div class="first-left">
                    <div class="reviewer">
                        <img src="<%= locals.data.reviewerPicBetterSrc %>" alt="reviewerPic" id="reviewerPic">
                        <p class="reviewerName">
                            <%= locals.data.reviewerName %>
                        </p>
                    </div>
                    <div class="movie">
                        <div>
                            <span class="movieName">
                                <%= locals.data.movieName %>
                            </span>
                            <span class="movieYear">
                                <%= locals.data.movieYear %>
                            </span>
                        </div>

                        <div class="movieDetails">
                            <span class="rating">
                                <%= locals.data.rating %>
                            </span>
                            <span class="watchedDate">
                                <%= locals.data.watchedDate %>
                            </span>
                            <%- locals.data.hasSpoiler ? `<span class="hasSpoiler">This review may contain
                                spoilers.</span>` : '' %>
                        </div>
                    </div>
                </div>

                <img src="<%= locals.data.posterBetterSrc %>" alt="poster" id="moviePoster">
            </div>
            <div class="row sec-row">
                <%- locals.data.review %>
            </div>
            <div class="row third-row">
                <i class="fa-regular fa-heart"></i> <span class="like">
                    LIKE?
                </span> <span class="likes-count">
                    <%= locals.data.likes %>
                </span>
            </div>
        </div>
    </div>
</body>

</html>